<%= simple_form_for([@current_league, @team]) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :tagline %>

  <% if @team.user == nil and can? :edit, @team %>
    <%= f.input :invite_code, label: "Enter Email or Twitter Username" %>
  <% else %>

  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
