<%= simple_form_for([@current_league, @team]) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :tagline %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
