<tr>
  <td>
    <%= link_to player.full_name,
          league_nfl_player_path(@current_league, player)  %><br />
    <%= player.position.upcase %> - <%= player.nfl_team == nil ? "FA" : player.nfl_team_code %><br />
    <%= number_to_currency player.salary, precision: 0 %>
  </td>
  <td>
    <%= matchup_for_table_row(player.nfl_team, player.week_nfl_matchup(current_week)) %> <br />
    <%= player.points_in_week(current_week) %> pts
  </td>
</tr>
