<tr>
  <td>
    <%= link_to player.full_name,
          league_nfl_player_path(@current_league, player)  %><br />
    <%= position_team_display_for_player player %><br />
    <%= format_as_money player.salary %>
  </td>
  <td>
    <%= matchup_for_table_row(player.nfl_team, player.week_nfl_matchup(current_week)) %> <br />
    <%= player.points_in_week(current_week, @current_league) %> pts
  </td>
</tr>
