<div class="row">
  <div class="span9">
    <h2><%= @team.name %></h2>
    <h4>Owner: <%= @team.user_name if @team.user != nil %></h4>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Salary</th>
      <th>NFL Team</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'positionrow', :collection => @team.quarterbacks, :as => :player %>
    <%= render :partial => 'positionrow', :collection => @team.runningbacks, :as => :player %>
    <%= render :partial => 'positionrow', :collection => @team.receivers, :as => :player %>
    <%= render :partial => 'positionrow', :collection => @team.tightends, :as => :player %>
    <%= render :partial => 'positionrow', :collection => @team.defenses, :as => :player %>
    <%= render :partial => 'positionrow', :collection => @team.kickers, :as => :player %>
  </tbody>
</table>
