<%- model_class = League -%>
<div class="page-header">
  <h1><%= t 'leagues.header' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:tagline) %></th>
    </tr>
  </thead>
  <tbody>
    <% @leagues.each do |league| %>
      <tr>
        <td><%= link_to league.name, league_path(league) %></td>
        <td><%= league.description %></td>
        <td><%= league.tagline %></td>
      </tr>
    <% end %>
  </tbody>
</table>
