<%- model_class = League -%>
<div class="page-header">
  <h3><%=t '.title', :default => @current_league.name %></h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Team Name</th>
      <th>Team Salary</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    <% @current_league.teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, team_path(team) %></td>
        <td class="<%= salary_display_color_class(team) %>">
          <%= format_as_money team.total_salary %>
        </td>
        <td><%= team.user.presence ? team.user_name : 'no user'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              leagues_path, :class => 'btn'  %>
</div>
