<h2>Salaries in System</h2>

<%= link_to "Upload new Data", new_admin_salary_path, class: "btn btn-success" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Player Name</th>
      <th>Position</th>
      <th>Week</th>
      <th>Salary</th>
      <th>Projection</th>
    </tr>
  </thead>

  <tbody>
    <% @salaries.each do |salary_info| %>
      <tr>
        <td><%= salary_info.player_name %></td>
        <td><%= salary_info.position %></td>
        <td><%= salary_info.week %></td>
        <td><%= salary_info.salary %></td>
        <td><%= salary_info.projection %></td>
      </tr>
    <% end %>
  </tbody>
</table>
