<%= simple_form_for([:admin, @admin_league], :html => { :class => 'form-horizontal' }) do |f| %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :tagline %>

  <%= f.input :salary_cap %>
  <%= f.input :passing_yard_points %>
  <%= f.input :passing_touchdown_points %>
  <%= f.input :passing_interception_points %>
  <%= f.input :fumbles_lost_points %>
  <%= f.input :rushing_yards_points %>
  <%= f.input :rushing_touchdown_points %>
  <%= f.input :receiving_yards_points %>
  <%= f.input :receiving_touchdown_points %>
  <%= f.input :points_per_reception_points %>
  <%= f.input :defensive_interception_points %>
  <%= f.input :defensive_fumble_recovered_points %>
  <%= f.input :defensive_sack_points %>
  <%= f.input :defensive_saftey_points %>
  <%= f.input :defensive_touchdown_points %>
  <%= f.input :defensive_points_allowed_under_7_points %>
  <%= f.input :defensive_points_allowed_under_14_points %>
  <%= f.input :defensive_points_allowed_under_21_points %>
  <%= f.input :defensive_points_allowed_under_28_points %>
  <%= f.input :defensive_points_allowed_under_35_points %>
  <%= f.input :defensive_points_allowed_equal_or_over_35_points %>

  <% if current_page?(:action => 'new') %>
    <%= label_tag 'number of teams' %>
    <%= number_field_tag :number_of_teams, 10, in: 4...16 %>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_leagues_path, :class => 'btn' %>
  </div>
<% end %>
