<h3>Teams in League: <%= @admin_league.name %></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Team Name</th>
      <th>Owner</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @admin_league.teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.user.presence ? team.user_name : 'no user'  %></td>
        <td><%= link_to 'Edit Team', edit_admin_team_path(team) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit League Information', edit_admin_league_path(@admin_league) %> |
<%= link_to 'Back', admin_leagues_path %>
