<h1><%= t 'forum_post.new_message' %></h1>
<h3>Posting in topic: <%= @current_topic.name %></h3>
<hr />
<h4>Here are the most recent posts</h4>
  <% @recent_posts.each do |post| %>
    <div class="row">
      <div class="span12">
        <blockquote>
          <p><%= post.post_body %></p>
          <small><%= post.user.email %> <cite title="Source Title"><%= post.created_at.strftime("on %B %d at %I:%M %p") %></cite></small>
        </blockquote>
      </div>
    </div>
  <% end %>
<hr />
<%= render 'form' %>
<%= link_to 'Back to Topic', league_forum_topic_path(@current_league, @current_topic), :class => 'btn' %>
