<%= simple_form_for([:admin, @admin_team]) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :tagline %>

  <% if @admin_team.user == nil %>
    <%= f.input :invite_code, label: "Enter Email or Twitter Username" %>
  <% else %>

  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
