<%= simple_form_for([:admin, @admin_team]) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :tagline %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<% if @admin_team.user == nil %>
  <p>Invite a User to be the Owner of this team</p>

  <% if @admin_team.invites.size > 0 %>
    <p>Invites sent to these users already</p>
    <ul>
      <% @admin_team.invites.each do |invite| %>
        <li><%= invite.email %> at <%= invite.created_at.to_s(:schedule_date) %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for @invite , :url => invites_path do |f| %>
    <%= f.hidden_field :team_id, :value => @invite.team_id %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.submit 'Send' %>
  <% end %>
<% end %>
