<h1>Editing <%= @admin_team.name %></h1>
<h3>League Name : <%= @admin_team.league.name %></h3>

<%= render 'form' %>

<%= link_to 'Show', admin_team_path(@admin_team) %> |
<%= link_to 'Back', admin_league_path(@admin_team.league_id) %>
