<h2>Edit Teams in League: <%= @league_name %></h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Team Name</th>
      <th>Owner Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_teams.each do |admin_team| %>
      <tr>
	<td><%= admin_team.name %></td>
	<td><%= admin_team.user.nil? ? "No Owner" : admin_team.user.name %></td>
        <td><%= link_to 'Show', admin_team_path(admin_team.id) %></td>
        <td><%= link_to 'Edit', edit_admin_team_path(admin_team.league_id, admin_team.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
