<p><%= display_team_name(player) %></p>
<% if player.versions.count > 1 %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#salary-history" href="#salary-history">
        <%= format_as_money player.salary %> <span class="pull-right">(click for history)</span>
      </a>
    </div>
    <div id="salary-history" class="accordion-body collapse">
      <div class="accordion-inner">
        <% player.versions.reverse_each do |version| %>
          <% next if version.reify.nil? %>
          <p>
            <%= version.reify.updated_at.to_s(:truegm_date) %>
            - <%= format_as_money version.reify.salary %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <p>Salary: <%= format_as_money player.salary %></p>
<% end %>
