<%= form_tag league_nfl_players_path(@current_league), method: :get do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>

  <p>
    <%= text_field_tag :player_name, params[:player_name], placeholder: 'Search by Player Name' %>
  </p>
  <p>
    Filter by
  </p>
  <div class="pull-left search-box">
    <span>Position</span>
    <div class="radio">
      <%= radio_button_tag 'position', 'all', params[:position] == 'all' || params[:position].blank? %>
      <%= label_tag "position_all", "All" %>
    </div>

    <div class="radio">
      <%= radio_button_tag 'position', 'qb', params[:position] == 'qb' %>
      <%= label_tag "position_qb", "QB" %>
    </div>

    <div class="radio">
      <%= radio_button_tag 'position', 'rb', params[:position] == 'rb' %>
      <%= label_tag "position_rb", "RB" %>
    </div>

    <div class="radio">
      <%= radio_button_tag 'position', 'wr', params[:position] == 'wr' %>
      <%= label_tag "position_wr", "WR" %>
    </div>

    <div class="radio">
      <%= radio_button_tag 'position', 'te', params[:position] == 'te' %>
      <%= label_tag "position_te", "TE" %>
    </div>

    <div class="radio">
      <%= radio_button_tag 'position', 'flex', params[:position] == 'flex' %>
      <%= label_tag "position_flex", "FLEX" %>
    </div>

    <div class="radio">
      <%= radio_button_tag 'position', 'def', params[:position] == 'def' %>
      <%= label_tag "position_def", "DEF" %>
    </div>

    <div class="radio">
      <%= radio_button_tag 'position', 'k', params[:position] == 'k' %>
      <%= label_tag "position_k", "K" %>
    </div>
  </div>
  <div class="pull-left search-box">
    <span>Status</span>
    <div class="radio">
      <%= radio_button_tag 'own_status', 'fa', params[:own_status] == 'fa' || params[:own_status].blank? %>
      <%= label_tag "own_status_fa", "Free Agents" %>
    </div>

    <div class="radio">
      <%= radio_button_tag 'own_status', 'owned', params[:own_status] == 'owned' %>
      <%= label_tag "own_status_owned", "Players Owned" %>
    </div>

    <div class="radio">
      <%= radio_button_tag 'own_status', 'all', params[:own_status] == 'all' %>
      <%= label_tag "own_status_all", "All Players" %>
    </div>
  </div>
  <div class="clearfix">
    <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
    <%= link_to "Clear Criteria", league_nfl_players_path(@current_league), class: "btn btn-default" %>
  </div>
<% end %>
