<div class="accordion" id="player-stats-<%= year %>">
  <div class="accordion-group">
    <% stats.each do |stat| %>
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#player-stats-<%= year %>" href="#week<%= stat.week %>">
        <%= stat.summary %>
      </a>
    </div>
    <div id="week<%= stat.week %>" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render :partial => "stat_table", :locals => { :stat => stat, :position => position } %>
      </div>
    </div>
    <% end %>
  </div>
</div>
