<h1>Nfl Players</h1>

<%= page_entries_info @nfl_players %>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th><%= sortable_link "last_name", "Name" %></th>
      <th><%= sortable_link "position" %></th>
      <th><%= sortable_link "salary" %></th>
    </tr>
  </thead>
  <tbody>
    <% @nfl_players.each do |nfl_player| %>
      <tr>
	<td><%= link_to nfl_player.first_name + ' ' + nfl_player.last_name,
                 league_nfl_player_path(@current_league, nfl_player)  %></td>
	<td><%= nfl_player.position %></td>
	<td><%= number_to_currency(nfl_player.salary, precision: 0) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @nfl_players, :inner_window => 1, :outer_window => 0, :class => 'apple_pagination' %>
