<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Search Criteria
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render 'search_criteria_form' %>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th><%= sortable_link "last_name", "Name" %></th>
      <th><%= sortable_link "salary" %></th>
    </tr>
  </thead>
  <tbody>
    <% @nfl_players.each do |player| %>
      <tr>
      	<td>
            <%= link_to player.full_name,
                  league_nfl_player_path(@current_league, player)  %><br />
            <%= position_team_display_for_player player %><br />
            Owner: <%= link_to_players_owner_team player %>
        </td>
      	<td><%= format_as_money player.salary %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @nfl_players, :inner_window => 1, :outer_window => 0, :class => 'apple_pagination' %>
