<p id="notice"><%= notice %></p>

<h3><%= @nfl_player.position %>&nbsp;<%= @nfl_player.full_name %></h3>
<p>Salary: <%= number_to_currency @nfl_player.salary, precision: 0 %></p>

<p><%= @current_league.get_team_name_for_player @nfl_player %></p>

<%= link_to 'All Players', league_nfl_players_path(@current_league) %>
