<h3><%= view_model.player.position.upcase %>&nbsp;<%= view_model.player.full_name %></h3>
<p>Owned by: <%= link_to_players_owner_team view_model.player %></p>

<div class="bs-component">
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#info" data-toggle="tab">Info</a>
    </li>
    <% view_model.stats_by_year.each do |year| %>
    <li>
      <a href="#<%= year[0] %>" data-toggle="tab"><%= year[0] %></a>
    </li>
    <% end %>
    <li>
      <a href="#actions" data-toggle="tab">Actions</a>
    </li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="info">
      <%= render :partial => "player_information", :locals => { :player => view_model.player } %>
    </div>
    <% view_model.stats_by_year.each do |year| %>
      <div class="tab-pane fade in" id="<%= year[0] %>">
        <%= render :partial => "stats_for_year", :locals => { :year => year[0], :stats => year[1], :position => view_model.player_position } %>
      </div>
    <% end %>
    <div class="tab-pane fade in" id="actions">
      <%= render :partial => "player_actions", :locals => { :player => view_model.player } %>
    </div>
  </div>
</div>

<div class="form-actions">
  <%= link_to 'All Players', league_nfl_players_path(@current_league), :class => "btn" %>
</div>
