<h3><%= @nfl_player.position.upcase %>&nbsp;<%= @nfl_player.full_name %></h3>
<p>Salary: <%= number_to_currency @nfl_player.salary, precision: 0 %></p>
<p>Owned by: <%= @nfl_player.fantasy_team_name(@current_league.id) %></p>

<div class="bs-component">
  <ul class="nav nav-tabs">
    <% view_model.stats_by_year.each do |year| %>
    <li class="active">
      <a href="#<%= year[0] %>" data-toggle="tab"><%= year[0] %></a>
    </li>
    <% end %>
  </ul>
  <div id="myTabContent" class="tab-content">
    <% view_model.stats_by_year.each do |year| %>
      <div class="tab-pane fade active in" id="<%= year[0] %>">
        <%= render :partial => "stat_table", :locals => { :stats => year[1], :position => view_model.player_position } %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'All Players', league_nfl_players_path(@current_league) %>
