<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <%= viewport_meta_tag %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "TrueGM" %></title>
  <meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website" />
  <meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu" />
  <meta name="author" content="Codrops" />
  <%= favicon_link_tag '/something.ico'%>
  <%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body>
  <div class="container full">
    <ul id="gn-menu" class="gn-menu-main">
      <li class="gn-trigger">
        <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
        <nav class="gn-menu-wrapper">
          <div class="gn-scroller">
            <ul class="gn-menu">
              <li class="gn-search-item">
                <input placeholder="Search" type="search" class="gn-search">
                <a class="gn-icon gn-icon-search"><span>Something1</span></a>
              </li>
              <li>
                <a class="gn-icon gn-icon-download">Something2</a>
                <ul class="gn-submenu">
                  <li><a class="gn-icon gn-icon-illustrator">Holder1</a></li>
                  <li><a class="gn-icon gn-icon-illustrator">Holder2</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /gn-scroller -->
        </nav>
      </li>
      <li><a href="http://tympanus.net/codrops">Codrops</a></li>
      <li><a class="codrops-icon codrops-icon-prev" href="http://tympanus.net/Development/HeaderEffects/"><span>Previous Demo</span></a></li>
      <li><a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=16030"><span>Back to the Codrops Article</span></a></li>
    </ul>
    <%= bootstrap_flash %>
    <%= yield %>
    <footer>
      <p>&copy; Company 2015</p>
    </footer>
  </div><!-- /container -->
  <%= javascript_include_tag "classie" %>
  <%= javascript_include_tag "gnmenu" %>
  <%= javascript_tag do %>
    new gnMenu( document.getElementById( 'gn-menu' ) );
  <% end %>
</body>
</html>
